 html {
     font-size: 62, 5%;
 }

 /* INDEX */
 .body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: antiquewhite;
 }

 .menuPrincipal img {
     height: 150px;
 }

 .nav-item {
     font-weight: bold;
 }

 .bg-navbar {
     background-color: antiquewhite;
 }

 .productosDestacados {
     text-align: center;
     background-color: rgba(151, 100, 12, 0.737);
     color: #fff;
     padding: 10px;
     animation-name: color;
     animation-duration: 5s;
     animation-delay: 3s;
     animation-iteration-count: infinite;
 }

 @keyframes color {
     0% {
         color: #fff;
     }

     20% {
         color: gray;
     }

     50% {
         color: black;
     }

     70% {
         color: gray;
     }

     100% {
         color: #fff;
     }
 }

 .footerTienda {
     display: grid;
     grid-template-rows: repeat(3, 1fr);
     grid-template-areas: "p"
         "redesSociales"
         "copyright";

     justify-content: center;
     align-items: center;
     justify-items: center;
 }

 .p {
     grid-area: p;
     font-size: 1, 5rem;

 }

 .redesSociales {
     grid-area: redesSociales;
     font-size: 1, 5rem;
 }

 .copyright {
     grid-area: copyright;
     font-size: 1, 5rem;
 }

 .footerTienda p {
     margin-top: 1rem;
 }

 .footerTienda div {
     margin: 0 10px 0 10px;
 }

 .whatsapp {
     position: fixed;
     right: 20px;
     bottom: 20px;
 }

 .redesSociales img {
     width: 50px;
 }

 .whatsapp img {
     width: 50px;
 }

 .politicadevolucion {
     text-align: center;
     font-size: 30px;
     background-color: rgba(151, 100, 12, 0.737);
     color: #fff;
     padding: 10px;
     animation-name: color;
     animation-duration: 5s;
     animation-delay: 3s;
     animation-iteration-count: infinite;
 }

 .containerParrafo {
     font-size: 17px;
     margin: 20px;
     padding: 20px;
 }

 .fotolocal {
     background-position: -8px center;
     background-repeat: no-repeat;
     background-size: cover;


     width: 400px;
     height: 400px;

 }

 .tituloProductos {
     text-align: center;
     font-size: 30px;
     background-color: rgba(151, 100, 12, 0.737);
     color: #fff;
     padding: 10px;
     animation-name: color;
     animation-duration: 5s;
     animation-delay: 3s;
     animation-iteration-count: infinite;
 }


 .producto1 {
     background-image: url(../multimedia/daniel-olah-UVRz6qJO_qA-unsplash.jpg);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }

 .producto2 {
     background-image: url(../multimedia/look.jpg);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }

 .producto3 {
     background-image: url(../multimedia/mahdi-chaghari-RfOBNTnDmJc-unsplash.jpg);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }

 .producto4 {
     background-image: url(../multimedia/body.jpg);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }

 .producto5 {
     background-image: url(../multimedia/remera.jpg);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }


 .producto6 {
     background-image: url(../multimedia/jeans.jfif);
     background-position: -10px center;
     background-repeat: no-repeat;
     background-size: cover;

     width: 200px;
     height: 200px;

     display: inline-block;
 }

 /* NOSOTROS */
 .quienessomos {
     text-align: center;
     font-size: 30px;
     background-color: rgba(151, 100, 12, 0.737);
     color: #fff;
     padding: 10px;
     animation-name: color;
     animation-duration: 5s;
     animation-delay: 3s;
     animation-iteration-count: infinite;
 }

 .sectionNosotros {
     display: grid;
     grid-template-columns: 0.5fr 1fr;
     grid-template-areas: "img div";
     justify-content: center;
     align-items: flex-start;
     justify-items: flex-start;
     margin: 20px;
     padding: 20px;
 }

 .sectionNosotros img {
     grid-area: img;
 }

 .sectionNosotros div {
     grid-area: div;
     text-align: left;

 }

 /*PRODUCTOS*/

 .div-productos {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-template-areas: "producto1 producto2 producto3"
         "producto4 producto5 producto6";
     margin-top: 2rem;
     justify-items: center;
     gap: 1rem;
 }

 .producto1 {
     grid-area: producto1;
 }

 .producto2 {
     grid-area: producto2;
 }

 .producto3 {
     grid-area: producto3;
 }

 .producto4 {
     grid-area: producto4;
 }

 .producto5 {
     grid-area: producto5;
 }

 .producto6 {
     grid-area: producto6;
 }

 /*Contacto*/
 .sectionContacto {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     justify-items: center;
 }

 .alert-success {
     margin: 1rem;
 }

 .g-3 {
     padding-block-end: 2rem;
 }

 :not(.btn-check)+.btn:hover {
     background-color: palevioletred;

 }

 [type=submit]:not(:disabled):hover {
     background-color: palevioletred;
 }


 /* TABLET */

 @media (max-width: 768px) {
     .justify-content-around {
         justify-content: space-around;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
     }

     .card {
         margin-top: 1rem;
     }

     .menuPrincipal img {
         display: none;
     }

     .sectionNosotros {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
     }

     .div-productos {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, 1fr);
         grid-template-areas:
             "producto1 producto2"
             "producto3 producto4"
             "producto5 producto6";
         margin-top: 2rem;
         justify-items: center;
         gap: 1rem;
     }

     .producto1 {
         grid-area: producto1;
     }

     .producto2 {
         grid-area: producto2;
     }

     .producto3 {
         grid-area: producto3;
     }

     .producto4 {
         grid-area: producto4;
     }

     .producto5 {
         grid-area: producto5;
     }

     .producto6 {
         grid-area: producto6;
     }


 }

 /*MOBILE*/

 @media (max-width:500px){
     /*Productos*/
     .div-productos {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(6, 1fr);
         grid-template-areas: "producto1"
             "producto2"
             "producto3"
             "producto4"
             "producto5"
             "producto6";
     }

     .producto1 {
         grid-area: producto1;
     }

     .producto2 {
         grid-area: producto2;
     }

     .producto3 {
         grid-area: producto3;
     }

     .producto4 {
         grid-area: producto4;
     }

     .producto5 {
         grid-area: producto5;
     }

     .producto6 {
         grid-area: producto6;
     }

     .form-control {
         display: block;
         width: 60%;
     }

     .form-select {
         display: block;
         width: 60%;
     }

     .mb-5 {
         width: 70%;
         margin: 30px
     }

     .mt-mobile {
         margin-top: 3rem;
     }

     .fotolocal {
         width: 250px;
         height: 250px;
     }
 }