/*maps*/
.footerTienda {
  text-align: center;
  font-size: 15px;
  padding: 1rem; }

.politicadevolucion {
  text-align: center;
  font-size: 15px;
  padding: 1rem; }

/*extend*/
.btn-primary{
  width: 200px;
  height: 50px;
  background-color:rosybrown;
  text-align: center;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black; }

:not(.btn-check)+.btn:hover {
  background-color: palevioletred;
}

[type=submit]:not(:disabled):hover {
  background-color: palevioletred;
  }


/*Mixin*/
.imagen {
  width: 500px;
  height: 300px; }

.footerTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.nav-item {
  font-weight: bold; }

.tituloContacto {
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 10px;
  border-style: solid; }

html {
  font-size: 62, 5%; }

.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite; }


.nav-item {
  font-weight: bold; }

.footerTienda {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "p"
 "redesSociales"
 "copyright";
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .footerTienda .p {
    grid-area: p;
    font-size: 1, 5rem; }
  .footerTienda .redesSociales {
    grid-area: redesSociales;
    font-size: 1, 5rem; }
  .footerTienda .copyright {
    grid-area: copyright;
    font-size: 1, 5rem; }
  .footerTienda .footerTienda p {
    margin-top: 1rem; }
  .footerTienda .footerTienda div {
    margin: 0 10px 0 10px; } 
  .footerTienda .whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px; }
  .footerTienda .redesSociales img {
    width: 50px; }
  .footerTienda .whatsapp img {
    width: 50px; } 
