.tituloContacto {
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-style: solid;
}


.sectionContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}