.politicadevolucion {
    text-align: center;
    font-size: 30px;
    background-color: $colorTerciario;
    color: $colorSecundario;
    padding: 10px;
    animation-name: color;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;

    .containerParrafo {
        font-size: 17px;
        margin: 20px;
        padding: 20px;
    }

    .fotolocal {
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;
   
   
        width: 400px;
        height: 400px;
   
    }
}