.galeria {
    text-align: center;
    margin: 10px;

    .foto1 {
        background-image: url(../multimedia/daniel-olah-UVRz6qJO_qA-unsplash.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;
    }

    .foto2 {
        background-image: url(../multimedia/look.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;

    }

    .foto3 {
        background-image: url(../multimedia/mahdi-chaghari-RfOBNTnDmJc-unsplash.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;

    }
}