@import "variables";
@import "index";
@import "menu";
@import "contacto";
@import "productoDestacado";

html {
    font-size: 62, 5%;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $colorPrincipal;
}

.menuPrincipal  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        height: 150px;
    }

    ul {
        list-style-type: none;

        li {
            list-style: none;
            display: inline-block;
            background-color: $colorTerciario;
            padding: 0.6rem;
            border-radius: 1rem;
            margin: 0 10px 0 10px;

        }

        a {
            text-decoration: none;
            color: $colorSecundario;
            font-weight: 400;

        }
    }

}

.nav-item {
    font-weight: bold;
}

.galeria {
    text-align: center;
    margin: 10px;

    .foto1 {
        background-image: url(../multimedia/daniel-olah-UVRz6qJO_qA-unsplash.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;
    }

    .foto2 {
        background-image: url(../multimedia/look.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;

    }

    .foto3 {
        background-image: url(../multimedia/mahdi-chaghari-RfOBNTnDmJc-unsplash.jpg);
        background-position: -8px center;
        background-repeat: no-repeat;
        background-size: cover;

        width: 400px;
        height: 400px;

        display: inline-block;

    }
}

.menufinal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1fr;
    grid-template-areas: "quieneSomos MediosPago contacto"
        "somosEsto efectivo datoscontacto";
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 30px;

    .quieneSomos h1 {
        grid-area: quieneSomos;
        font-size: 1, 5rem;
    }

    .MediosPago h1 {
        grid-area: MediosPago;
        font-size: 1, 5rem;
    }

    .contacto h1 {
        grid-area: contacto;
        font-size: 1, 5rem;
    }

    .somosEsto {
        grid-area: somosEsto;
        font-size: 1rem;
    }

    .efectivo {
        grid-area: efectivo;
        font-size: 1rem;
    }

    .datoscontacto div {
        grid-area: datoscontacto;
        font-size: 1rem;
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;

}

.footerTienda {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "p"
        "redesSociales"
        "copyright";

    justify-content: center;
    align-items: center;
    justify-items: center;

    .p {
        grid-area: p;
        font-size: 1, 5rem;

    }

    .redesSociales {
        grid-area: redesSociales;
        font-size: 1, 5rem;
    }

    .copyright {
        grid-area: copyright;
        font-size: 1, 5rem;
    }

    .footerTienda p {
        margin-top: 1rem;
    }

    .footerTienda div {
        margin: 0 10px 0 10px;
    }

    .whatsapp {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    .redesSociales img {
        width: 50px;
    }

    .whatsapp img {
        width: 50px;
    }
}
